#editSessionExercises .addSession svg {
  stroke: var(--primary) !important;
}

/* DISPLAY EXERCISES CONT*/
#editSessionExercises .editEachSession {
  box-shadow: 3px 3px 10px 0px rgb(52, 58, 64, 0.5);
  height: 80px;
}

#editSessionExercises .editEachSession h2 {
  color: var(--secondary);
  font-size: 20px;
}

/* ADDONS */
/* SELECT EXERCISE TYPES */
#selectExerciseType {
  padding: 20px 0px;
}
#selectExerciseType .editRoutineShowName {
  margin-top: 10px;
}

#selectExerciseType .textEditRoutinShowLimitation h2 {
  color: var(--light) !important;
  font-size: 25px !important;
}

#selectExerciseType .editRoutineShowName button {
  background-color: transparent !important;
  width: auto !important;
}

#selectExerciseType .editRoutineShowName button svg {
  fill: var(--light) !important;
  width: 30px !important;
  height: 30px !important;
}

.showExcerciseTypesButton {
  border: 0px;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  margin: 13px 0px;
  font-size: 15px !important;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
  color: var(--dark-1) !important;
}

/* SHOW EXERCISES */
.addonExercisesShow {
  box-sizing: border-box;
  padding: 10px 0px 0px;
}

.addonExercisesShow .editRoutineShowName {
  margin: 0px auto 10px;
}

.addonExercisesShow .editRoutineShowName h2 {
  color: var(--dark-2);
}

.addonExercisesShow .editRoutineShowName button {
  background-color: var(--light);
}

.filterButtons {
  gap: 10px;
  margin-bottom: 5px;
}

.selectedButton {
  filter: grayscale(0) !important;
}

.filterButtons button {
  filter: grayscale(1);
  border: 0px;
}

.addonExercisesShow form {
  max-height: 400px;
  overflow-y: scroll;
}

.addonExercisesShow .labelExercises {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--dark-1);
  border-radius: 5px;
  margin: 5px auto;
  padding: 10px 10px;
}

.addonExercisesShow .labelExercises label {
  width: 80%;
  color: var(--light);
  font-size: 15px;
}

.addonExercisesShow .labelExercises input[type="checkbox"] {
  width: 20%;
  margin-left: 10px;
  border-radius: 100%;
}

.addonExercisesShow .labelExercises .tagGlobal {
  width: fit-content;
  padding: 3px 10px;
  margin: 0px;
}

.globalForm {
  max-height: 340px;
  overflow-y: scroll;
}

/* .addonExercisesShow .labelExercises input[type="checkbox"]::before{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--dark-1);
    display: block;
    margin: 0px auto;
    cursor: pointer;        
} */

.addonExercisesShow .labelExercises input[type="checkbox"]:checked {
  background-color: var(--primary);
}

/* .addonExercisesShow .labelExercises input[type="checkbox"]:checked:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--light);
    display: block;
    margin: 0px auto;
} */

.addonExercisesShow input[type="submit"] {
  width: 100% !important;
  margin: 30px 0px 0px !important;
  box-sizing: border-box;
  background-color: var(--dark-1);
  color: var(--light);
  border-radius: 0px;
  font-size: 15px;
  padding: 20px 0px;
}

/* SHOW EXERCISE DESCRIPTION */
#showExerciseDescription {
  box-sizing: border-box;
  padding-bottom: 10px;
}

#showExerciseDescription .editRoutineShowName {
  margin: 10px auto;
}

#showExerciseDescription .textEditRoutinShowLimitation {
  width: 90%;
}

#showExerciseDescription .editRoutineShowName h2 {
  color: var(--secondary);
  font-size: 20px;
}

#showExerciseDescription .editRoutineShowName button {
  background-color: var(--light);
}

.textDescription {
  margin: 20px auto;
  color: var(--light);
}
