:root {
  --light: #E1E8EB;
  --dark-1: #343A40;
  --dark-2: #27292B;
  --primary: #7952B3;
  --secondary: #FFC107;
}

html, body{
  margin: 0px;
  padding: 0px;
}

button{
  cursor: pointer;
  outline: none;
}

button:scope{
  border: none;
}

.button1{
  background-color: var(--dark-1);
  color: var(--light);
}

.button2{
  background-color: var(--secondary);
  color: var(--dark-1);
  margin-top: 30px;
}

.button3{
  background-color: var(--primary);
  color: var(--secondary);

}

button a{
  text-decoration: none;
}

.button1 a{
  color: var(--light);
}

.button2 a{
  color: var(--dark-1);
}

.button3 a{
  color: var(--secondary);
}