/* HEAD */
#userPage{
    padding-bottom: 5px;
}


#userPage .showUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--primary);
    padding-bottom: 20px;
}

#userPage .showUser img{
    width: 90px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: -45px;
}

#userPage .showUser h1{
    font-size: 20px;
    font-weight: 500;

    margin: 60px auto 0px;
    color: var(--light);
}

/* LINKS */
#userPage #contPrivacity{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

#userPage #contPrivacity h2{
    font-size: 20px;
    font-weight: 500;
    color: var(--light);
    margin: 15px 0px 0px;
}

#userPage #contPrivacity .cagePrivacity{
    padding: 10px 0px;
    border-radius: 5px;
    margin-top: 20px;
}

#userPage #contPrivacity .cagePrivacity h3{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
    color: var(--light);
}

#userPage #contPrivacity .cagePrivacity svg{
    fill: var(--light);
    width: 40px;
    height: 40px;
}

#userPage #contPrivacity .cagePrivacity svg path{
    fill: var(--light);
}

#userPage #contPrivacity .cagePrivacity svg:hover{
    fill: var(--primary);
}
/* NAV */
#userPage nav{
    border-top: 2px solid var(--light);

}

